{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}
<div class="ui grid">
    <div class="five wide column">
        <div class="ui segment">
         
            {% if request.user.is_authenticated %}
                <a href="{{path_to_my_profile}}" class="{% if request.path == path_to_my_profile %}active{% endif %} item">
                    <div class="ui medium image">
                        <img src="{{profile.avatar.url}}">
                        <p class="m-auto">{{user.username}}</p>
                        <hr>
                        <p class="m-auto">{{profile.business_sales_line}}</p>
                        <hr>
                        <!--<p class="m-auto">{{user.webside}}</p>-->
                    </div>
                </a>
                
            {% endif %}
        </div>
            
        <div class="ui segment"> 
            <button class="btn"><i class="fa fa-home"></i></button>
            <button class="btn"><i class="fa fa-envelope"></i></button>
            <button class="btn"><i class="fa fa-bell"></i></button>
            <hr>         
            <div class="left menu">
                        {% if request.user.is_authenticated %}
                            <div class="item">
                                <div class="ui floating dropdown icon button teal"> Connections
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <a href="{{path_to_all_profiles}}" class="{% if request.path == path_to_all_profiles %}active{% endif %}item">
                                            All Profiles
                                        </a>
                                        <a href="{{path_to_invites}}" class="{% if request.user == path_to_invites %}active{% endif %} item">
                                            Send Invites
                                        </a>
                                        <a href="{{path_to_my_invites}}" class="{% if request.path == path_to_my_invites %}active{% endif %} item">
                                            Received Invites
                                        </a>
                                    </div>
                                </div>        
                            </div>
                        {% endif %}
            </div>                
        </div>
        

        <div class="ui segment">

            <table class="ui table">
                <tbody>
                    <tr>
                        <td>Connections</td>
                        <td>{{profile.get_connections_no}}</td>
                    </tr>
                    <tr>
                        <td>Followers</td>
                        <td>{{profile.get_followers_no}}</td>
                    </td>
                    <tr>
                        <td>Following</td>
                        <td>{{profile.get_following_no}}</td>
                    </tr>
                    <tr>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>
        <div class="ui segment">
           
                <div class="social media">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>   
                </div>
        </div>
        
    </div>
        
            <div class="seven wide column">
                <div class="ui segment">
                    {% if post_added %}
                        <div class="ui green message">Post added</div>
                    {% endif %} 
                    <form action="" method="POST" class='ui form' enctype="multipart/form-data">      
                        {% csrf_token %}
                        {{p_form}}
                        <button type='submit' name="submit_p_form" class="ui positive button w-full mt-5">Send</button>
                    </form>
                </div>
            
                {% for obj in qs %}

                <div class="ui fluid card">
                    <div class="content">
                        <div class="right floated meta">
                        <div class="ui grid">
                                {% ifequal request.user obj.author.user %}
                                    <a href="{% url 'posts:post-update' obj.pk %}"><button class="ui button bwhite-lg ">Update</button></a>
                                    <a href="{% url 'posts:post-delete' obj.pk %}"><button class="ui button bwhite-lg ">Delete</button></a>
                                {% endifequal %}
                        </div>
                            
                        </div>
                        <img class="ui avatar image" src={{obj.author.avatar.url}}> 
                        {{ obj.author.user }} - {{ obj.created|timesince}} ago
                    </div>
                    <div class="ui fluid image">
                        {% if obj.image %}
                            <img src={{obj.image.url}}>
                        {% endif %}
                    </div>
                    <div class="content">
                        <p> {{ obj.content }} </p>
                        <div class="right floated">
                            <form action="{% url 'posts:like-post-view' %}" method="POST" class='like-form' id='{{obj.id}}'>
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{obj.id}}>
                                
                                    <button type="submit" class="ui button like-btn{{obj.id}}">
                                        {% if profile not in obj.liked.all %}
                                            Like
                                        {% else %}
                                            Unlike
                                        {% endif %}
                                    </button>
                                    <div class="ui grid">
                                        <div class="column">
                                            <div class="like-count{{obj.id}}"> {{obj.num_likes}} </div>
                                        </div>
                                        <div class="column">
                                            likes
                                        </div>
                                    </div>
                            </form>
                        </div>
                        <i class="comment icon"></i>
                        <span> {{ obj.num_comments }} comments</span>
                    </div>
                    <div class="extra content">
                        <div class="mb-5">
                        
                        </div>
                        <button class="cmt_btn ui button mb-5">show / hide comments</button>
                        <div class="comment-box">
                        {% if obj.comment_set.all %}
                            {% for c in obj.comment_set.all %}
                            
                                <div class="ui segment mb-5">
                                    <img class="ui avatar image" src={{c.user.avatar.url}}>
                                    <span>{{ c.user }}</span>
                                    <div class='mt-5'>{{ c.body }}</div>
                                </div>
                            
                            {% endfor %}
                        {% endif %}
                        </div>
        
                        <form action="" method="POST"class='ui fluid form'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{obj.id}}>
                            {{ c_form }}
                            <button type="submit" name="submit_c_form" class="ui primary button mt-5 w-full">Send</button>
                        </form>
                    </div>
                </div>


                {% endfor %}
            </div>
            <div class="four wide column">
                <div class="ui segment">
                    {{profile}}
                    <br><br>
                    <a href="{% url 'profiles:all-profiles-view' %}">
                        <button class="ui primary button">Business to follow</button>
                    </a>
                    <br><br>
                    following:
                    <ul>
                            {% for p in profile.following.all %}
                                <li>{{p}}</li>
                            {% endfor %}
                    </ul>
                        <hr>
                        {% for post in posts %}
                                <div class="ui segment">
                                {{post.author}}
                                <hr>
                                {{post.content}}
                        {% endfor %}
                </div>
                    <div class="ui segment">
                        <div class="button">
                            <a href=""><button>HOUSES</button></a>
                            <a href=""><button>MZANSI PRODUCE</button></a>
                            <a href=""><button>KASI NETWORK</button></a>
                            <a href=""><button>EVENTS</button></a>
                            <a href=""><button>BUTTON</button></a>
                        </div>   
                    </div>
            </div>
        <div class="sixteen wide column">
            <div class="ui segment">
            
                FOOTER FOOTER FOOTER
                <footer class="footer">
                FOOTER FOOTER FOOTER
                </footer>
            </div>
        </div>
    </div>
    

{% endblock content %}

{% block scripts %} 
    <script>
        $( document ).ready(function() {
            let display = false
            $(".cmt_btn").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }  
            });

            $('.like-form').submit(function(e){
                e.preventDefault()
                
                const post_id = $(this).attr('id')
                
                const likeText = $(`.like-btn${post_id}`).text()
                const trim = $.trim(likeText)

                const url = $(this).attr('action')
                
                let res;
                const likes = $(`.like-count${post_id}`).text()
                const trimCount = parseInt(likes)
                
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_id':post_id,
                    },
                    success: function(response) {
                        if(trim === 'Unlike') {
                            $(`.like-btn${post_id}`).text('Like')
                            res = trimCount - 1
                        } else {
                            $(`.like-btn${post_id}`).text('Unlike')
                            res = trimCount + 1
                        }

                        $(`.like-count${post_id}`).text(res)
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })

            })
        });
    </script>
{% endblock scripts %}